{% include "includes/header.html" %}
{% load static %}

<div class="container my-5">
    <h2 class="mb-4 text-center">Algorithme Arbre de Décision</h2>

    <div class="row">
        <div class="col-md-6">
            <h3>Détails :</h3>
            <p>
                 Un <strong>arbre de décision</strong> est un algorithme d'apprentissage supervisé utilisé 
                        pour la classification et la régression. Il modélise les décisions sous forme d'arbre, 
                        où chaque nœud représente une décision basée sur une caractéristique.
            </p>
        </div>

        <div class="col-md-6">
            <h3>Caractéristiques :</h3>
            <ul>
                <li>Facile à comprendre et interpréter</li>
                 <li>Peut gérer des données numériques et catégorielles</li>
                 <li>Nécessite peu de préparation des données</li>
                 <li>Visualisation graphique possible</li>
            </ul>
        </div>
    </div>

    <div class="mt-4">
        <iframe 
            src="{% static 'pdfs/Decision_Trees.pdf' %}" 
            width="100%" 
            height="600px" 
            style="border:1px solid #ccc;">
            Ce navigateur ne supporte pas les PDFs. 
            <a href="{% static 'pdfs/chapitre5.pdf' %}">Télécharger le PDF</a>
        </iframe>
    </div>
</div>

{% include "includes/footer.html" %}
